html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.signUpContainer {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 70%;
  height: 65%;
  background-color: #fff;
  box-shadow: 0px 1px 6px -1px #000000bf;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1rem 2rem;
}

.formContainer > h1 {
  margin-bottom: 1rem;
  font-size: 30px;
  font-weight: bold;
}

input {
  border: none;
  border: 2px solid #00000051;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.5rem 0;
  width: 70%;
  box-shadow: 0 0 0 30px #fff inset;
}

input:focus {
  outline: none;
  border: 2px solid #333398;
  transition: 0.5s;
}

.invalid {
  border: 2px solid #fe4a49;
  background-color: #fe494936;
  box-shadow: 0 0 0 30px #fe494936 inset;
}

.signUpBtn {
  width: 75%;
  padding: 0.8rem 2rem;
  border-radius: 7px;
  border: none;
  background-color: #333398;
  color: #fff;
  margin: 1rem 0;
  cursor: pointer;
}

.signUpBtn:hover {
  background-color: #333398ef;
}

.signUpBtn:disabled {
  background-color: #0000001f;
  color: #00000061;
}

.loginLink {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333398;
}

.loginLink a {
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}

.otherSide {
  background-color: #333398;
  color: #fff;
  width: 50%;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

.messageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notificationContainer {
  display: none;
  position: absolute;
  top: 3%;
  right: 3%;
  border-radius: 5px;
  padding: 1rem;
  font-weight: normal;
  width: 20rem;
}

.notificationContainer[error] {
  background-color: #fe494936;
  color: #ff0000;
}

.notificationContainer[success] {
  background-color: #00c8502e;
  color: #5cb85c;
}
